.searchFood {
    padding: 0.4rem;
    display: flex;
    align-items: center;
    background-color: none;
  }
  
  .searchFood input {
    border: none;
    color: white;
    background-color: none;

  }
  .searchFood input::placeholder {
    outline: none;
    color: white;
    background-color: none;

  }
  .searchFood input:focus {
    background-color: none;

    outline: none;
  }