.searchFood {
    padding: 0.4rem;
    display: flex;
    align-items: center;
    background-color:  #871e1e;


  }
  .searchFood input {
    border: none;
    background-color: rgb(233,233,233);
    
  }
  
  .searchFood input:focus {
    outline: none;
  }