.searchFood {
    padding: 0.4rem;
    display: flex;
    align-items: center;
    background-color: #1f6e77;
    

  }
  .searchFood input {
    border: none;
    background-color: #1f6e77;
    color: white;
  }
  .searchFood input:placeholder {
    outline: none;
    
  }
  .searchFood input:focus {
    outline: none;
  }