.searchFood {
    display: flex;
    align-items: center;
  }
  
  .searchFood input {
    border: none;
    color: white;
    padding: 0.4rem;
  }
  .searchFood input::placeholder {
    outline: none;
    color: white;
  }
  .searchFood input:focus {
    outline: none;
  }